/*#dc4949*/
body{
    font-family: "Open Sans", Arial, sans-serif !important;
}
h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor){
    color:#dc4949 !important;
}
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a{
    color:#dc4949 !important;
}
.promo{
    padding: 30px 30px 30px 0 !important;
}
.promo.promo-light{
    padding-left:30px !important;
}
.promo-edit{
    padding: 30px 30px 20px 0 !important;
}
.promo-edit-span p{
    margin-bottom:10px !important;
}
.sol-metal-enjeksiyon-menu{
    border-bottom:2px solid #000;
    padding-bottom:10px;
}
.product-overlay a:hover {
    background-color: #dc4949;
    color: #FFF !important;
}
.button{
    background-color: #dc4949;
}
.product-meta a{
    color: #dc4949;
}
.product-title h3 a:hover{
    color: #dc4949;
}
.product-3 .product{
    width:25% ;
}
.postcontent{
    width: 1170px;
}
.promo.promo-light{
    border-radius: 8px !important;
}
.owl-edit .owl-item img{
    border: 2px solid #eee;
    border-radius: 5px;
}
#copyrights{
    padding: 10px !important;
}
#header.full-header #logo{
    border: none !important;
}
.button.button-3d:hover{
    background-color: #F06868 !important;
}
.heading-block{
    margin-top:50px;
}
.edit-varol .product-image{
    background-color: #FFF !important;
}
.singleSliderBack {
    background-color: #888;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#page-title h1{
    color:#FFF;
}
#page-title span{
    color:#FFF;
}
.breadcrumb a{
    color:#FFF;
}
.breadcrumb > .active{
    color:#FFF;
}
#page-title.page-title-mini h1{
    color:#FFF !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .postcontent {
        width: 690px;
    }
}
@media (max-width: 991px) {
    .postcontent,
    .postcontent.bothsidebar,
    .sidebar {
        width: 100%;
    }
}
/*#header{
    height: 100px;
}
#header, #header-wrap, #logo img{
    height: 90px;
    padding-top:10px;
}*/
